<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_square"
        android:label="Jain Maitri"
        android:roundIcon="@drawable/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JainShaadi"
        tools:targetApi="31"
        >
<!--        <activity-->
<!--            android:name=".Chatlist"-->
<!--            android:exported="false" />-->
        <activity
            android:name="com.jainmaitri.app.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.SpecificChatActivity"
            android:theme="@style/Message.JainShaadi"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.jainmaitri.app.Otp2"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.educational_information_form"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.family_information_form1"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.family_information_form2"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.otp"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.ImageActivity"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.SearchFilter"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".Search"-->
<!--            android:exported="false" />-->
        <activity
            android:name="com.jainmaitri.app.MyProfile"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.SaveProfileDisplay"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.ViewProfile"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".Homeactivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name="com.jainmaitri.app.welcome_instructions"
            android:exported="true">

        </activity>
        <activity
            android:name="com.jainmaitri.app.LocationActivity"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.DescribeActivity"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.IncomeActivity"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.Interest"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.Cast"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.Name"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.Dob"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.jainmaitri.app.Profile"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.Completeform_Image_01"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.EditProfile"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.VerificationComplete"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.Completeform_Image_02"
            android:exported="false" />
        <activity
            android:name="com.jainmaitri.app.ViewMyCard"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name="com.jainmaitri.app.Login"
            android:theme="@style/Login.JainShaadi"
            android:exported="true">
        </activity>
        <activity
            android:name="com.jainmaitri.app.Launcher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.jainmaitri.app.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
-        </service>
<!--        <service-->
<!--            android:name=".MyFirebaseInstanceIDService">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->
    </application>


</manifest>